:host {
  // height: 100%;
  // overflow-y: scroll;
  display: block;
  width: 80%;
  margin: 0 auto;

  padding: 20px 0;

  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}

form {
  width: 100%;
  display: flex;
  column-gap: 40px;

  @media only screen and (max-width: 600px) {
    flex-direction: column; 
  }

  * {
    flex: 1;
  }
}

.table {
  display: block;
  margin-bottom: 20px;
}

